@use './variables.scss';
@use './mixins.scss';
@use './display-utilities.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: variables.$font-sans;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: variables.$color-black2;
}

body {
  margin: 0;
  padding: 8px;
  background-color: variables.$color-black2;
}

svg {
  display: inline-block;
}

img {
  max-width: inherit;
}

@include mixins.laptop {
  #app {
    padding-bottom: 80px;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
