@use './variables.scss';
@use './mixins.scss';

* {
  font-family: variables.$font-sans;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 8px;
  background-color: variables.$color-black2;
}

@include mixins.laptop {
  #app {
    padding-bottom: 80px;
  }
}
