@use './variables.scss';
@use './typography.scss';
.block {
  padding: 16px 12px;
  width: 100%;

  .heading {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 12px;

    @extend %face-sans-14-regular;

    a {
      color: variables.$color-white;
      text-decoration: none;
    }
  }
}