@use '../../styles/variables.scss';
@use '../../styles/typography.scss';

.token {
  padding: 8px 20px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.clickable:hover {
    background-color: variables.$color-black2;
  }

  &.selected {
    opacity: 0.5;
  }

  &:disabled {
    pointer-events: none;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: left;

    @extend %face-sans-18-regular;

    .symbol {
      color: white;
      font-weight: 500;
    }

    .name {
      color: variables.$color-gray2;
      font-size: 12px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    margin-right: -15px;

    .delete {
      color: white;
    }

    svg {
      width: 16px;
      height: 16px;
      margin-left: 5px;
    }

    a {
      color: variables.$color-primary;
    }
  }

  .active-token {
    color: variables.$color-green;

    @extend %face-sans-14-medium;
  }

  .import-button {
    padding: 5px 10px;
    border-radius: 20px;

    @extend %face-sans-14-medium;
  }

  img,
  svg {
    width: 32px;
    height: 32px;
    border-radius: 24px;
    margin-right: 16px;
  }
}

.input-wrapper {
  margin: 0 20px 16px;

  .search-bar {
    text-align: left;
    padding: 13px 16px 14px;
    border-radius: 16px;
    color: white;
    background-color: variables.$color-black2;
    border: 1px solid variables.$color-black2;
    transition: border 100ms ease 0s;

    @extend %face-sans-16-regular;

    &::placeholder {
      color: variables.$color-gray2;
    }

    &:focus {
      border-color: variables.$color-primary;
    }
  }
}

.empty {
  padding: 20px 0;
  color: variables.$color-gray2;
}
